trunk/Warspot.MetroClient/Service References/ServiceClient/WarSpot.Contracts.Intellect.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WarSpot.Contracts.Intellect" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WarSpot.Contracts.Intellect" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BeingCharacteristics">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ci" type="xs:float" />
      <xs:element minOccurs="0" name="Health" type="xs:float" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MaxHealth" type="xs:float" />
      <xs:element minOccurs="0" name="MaxSeeDistance" type="xs:int" />
      <xs:element minOccurs="0" name="MaxStep" type="xs:float" />
      <xs:element minOccurs="0" name="Team" type="ser:guid" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeingCharacteristics" nillable="true" type="tns:BeingCharacteristics" />
</xs:schema>